.App {
  font-family: "Times New Roman", Times, serif;
  border-color: #12a3b8;
}

#pageoutline {
  max-width: 600px;
  max-height: 525px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  background-color: #d7eaed;
  border-radius: 5px;
}

.searchIcon {
  color: #12a3b8;
  font-size: 25px;
  position: relative;
  top: 35px;
  left: 530px;
}

.moving {
  position: relative;
  top: 20px;
}

.pagedivideone {
  position: relative;
  top: -290px;
  margin: 0 auto;
  border: 1px solid #2094a7;
}

.pagedividetwo {
  position: relative;
  top: -150px;
  margin: 0 auto;
  border: 1px solid #2094a7;
}
